.nameUserConnected{
    letter-spacing: 1.5px; 
    margin-right:50px;
    margin-left: 10px;
}

.imagesBooksContent{
    height: 400px;
}
.inputForm{
    width: 205px;
}
.inputFormImage{
    width: 300px;
}
.imageBook{
    width: 400px;
}
.contentButtonDelete button{
    width: 150px;
}

.abstract{
    text-align: justify;
    padding-right: 50px;
}

@media only screen and (max-width: 1220px) {
    .nameUserConnected{
        margin-right: 0px;
    }
}

@media only screen and (max-width: 1010px) {
    .inputFormImage{
        width: 200px;
    }
}

@media only screen and (max-width: 991px) {
    .imagesBooksContent{
        height: 200px;
    }
}

@media only screen and (max-width: 991px) {
    .imageBook{
        width: 100%;
    }
}